.container {
  background: radial-gradient(at top, #ffe46e, #ffaa4b);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-section-container {
  background-color: white;
  width: 60vw;
  height: 70%;
  border-radius: 15px;
}

.header-section {
  display: flex;
  justify-content: space-evenly;
  gap: 40%;
  margin-left: 2%;
  margin-right: 2%;
}

.menu-btn, .search-btn {
    border: none;
    background-color: transparent;
    font-size: 2.5em;
}

.popular-movies {
  margin-left: 2%;
  margin-right: 2%;
}

.popular-movies h3 {
    margin-left: 30px;
}

.movie-image {
  width: 100%;
  height: 30%;
object-fit: fill;
}

.content {
  padding: 0 30px;
}

.name-movie {
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 0px;
}

.time {
  margin-top: 5px;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-carousel .slick-prev, :where(.css-dev-only-do-not-override-5wsri9).ant-carousel .slick-next {
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 6em;
    opacity: 1;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-carousel .slick-list  {
    vertical-align: middle;
}

